
/* SET MARGIN AND PADDING TO 0 FOR ALL ELEMENTS */
/*
* {
margin: 0; padding: 0;
}

/* SET BASE FONT ATTRUBUTES */
html, body {
font: Georgia, "Times New Roman", Times, serif 14px/1.5em;
color: #000;
}

/* REMOVE PADDING AND MARGIN VALUES */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, dd, dt, img,
blockquote, q, table, thead, tbody, tfoot, caption, th, tr, td, a, form,
input, textarea, fieldset, pre
{margin: 0; padding: 0;}

/* SORT OUT HEADER FORMATTING AND SIZES */
h1, h2, h3, h4, h5 {font-weight: bold;}

h1 {font-size: 2em;}
h2 {font-size: 1.75em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}
h6 {font-size: 1em;}

/* HARMONIZE LINKS, KILL BORDER ON IMG LINKS */
a {text-decoration: underline;}
a:link, a:visited {color: #00f;}
a:hover {color: #33f;}
a:active {color: #fff;}
a img, :link img, :visited img {border: none}

/* REMOVE BROWSERS DEFAULT TABLE BORDERS */
table {border-collapse: collapse;}

/* REMOVE AUTOMATIC TOP/BOTTOM MARGINS ON NESTED LISTS */
ul ul, ul ol, ul dir, ul menu, ul dl,
ol ul, ol ol, ol dir, ol menu, ol dl,
dir ul, dir ol, dir dir, dir menu, dir dl,
menu ul, menu ol, menu dir, menu menu, menu dl,
dl ul, dl ol, dl dir, dl menu, dl dl
{margin-top: 0; margin-bottom: 0;}

/* HARMONISE LIST-BULLET TYPE */
ul, ol, dl {list-style-type: disc;}

body {
}

body, input, textarea, select {
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333;
	margin: 5px auto;
}

h1, h2, h3 {
	margin-bottom: 1em;
	font-weight: normal;
	color: #979797;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1em;
	font-weight: bold;
}

p, blockquote, ul, ol, form {
	margin-bottom: 1.5em;
}

blockquote, ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-right: 3em;
	font-style: italic;
}

ul {
	list-style-type: square;
}

a {
	color: #797979;
}

a:hover {
	text-decoration: none;
}

a:link, a:visited {color: #5979b7;}
*/

/* Wrapper */

#wrapper {
	background-color: #FFFFFF;
    width: 100%;
}

.container {
    width: 100% !important;
}

/* Header */

#header {
	background: #F7F7F7 no-repeat;
    /* height: 56px; */
    /* padding: 10px; */
}

#header h1, #header h2 {
}

#header h1 {
	/*position: absolute;
	top: 13px;
	left: 20px;   */
	font-size: 2.4em;
	letter-spacing: -2px;
	text-decoration: none;
	color: #707070;
    padding: 8px 16px;
    margin-bottom: 0;
}

#header h2 {
	/*position: absolute;
	top: 55px;
	left: 30px;  */
	font-size: 1em;
	text-decoration: none;
	color: #FFF;
}


/* Menu */

#menu
{
	/*width: 928px;*/
	background: #EEEEEE no-repeat;
}

#menu ul
{
	list-style: none;
	text-align: right;
	padding: 10px 0px 10px 0px;
	margin: 0;
}

#menu li
{
	padding: 0em 0.7em 0em 0.7em;
	display: inline;
}

#menu li a
{
	color: #C7C7C7;
	font-weight: bold;
	text-decoration: none;
	/* border-bottom: 1px dotted #FFFFFF; */
	font-size: 1.1em;
}

#menu li a.active
{
	border-bottom: 4px solid #FFFFFF;
}

#menu li a:hover
{
    color: #f00:
	border-bottom: 3px solid #C7C7C7;
}

/* tags */

.tags {
}

.tags a {
        color: #FFFFFF;
        background-color: #979797;
        margin: 3px 1px 3px 1px;
        padding: 1px 3px;
	text-decoration: none;
        font-size: 80%;
}

/* Content */

#content {
    padding: 0 16px;
	background: #FFFFFF;
    /* border-bottom: 1px solid #EEEEEE; */
    border: 0;
}

/* Blog */

#main {
    /*
	width: 678px !important;
	width: 675px; /*IE6 3px problem */
	/* margin: 0px auto; */
}

/* Post */

#sections {
	padding-bottom: 20px;
}

#sections .title {
	/* height: 30px; */
	border-top: 1px solid #C7C7C7;
	text-transform: uppercase;
	font-size: small;
	font-weight: bold;
	padding: 5px 10px 0px 10px;
	background: #FFF repeat-x;
}

#sections .idea-text {
        padding: 10px 10px;
}
#sections .title a {
	text-decoration: none;
}

#sections .title a:hover {
	text-decoration: underline;
}

#sections .byline{
	text-align: right;
	font-size: 90%;
	padding: 0px;
	color: #979797;
}

#sections .idea {
        font-weight: bold;
        font-size: 110%;
}

#sections .text {
}

#sections h1 {
}

#sections p {
	text-align: justify;
        font-size: 120%;
}

#sections ul {
        list-style: none;
}

#sections .meta {
	padding: 0 15px;
	font-size: x-small;
	color: #333;
}

.text h1, .text h2, .text h3 {
	color: #333;
}

/* Sidebar */

#sidebar {
	padding: 8px;
    /*margin-left: -8px;*/
    margin-right: -16px;
    background: #F0F0F0;
}

#sidebar div {
	padding: 0 10px;
}

#sidebar div  {
	margin-bottom: 35px;
}

#sidebar div ul {
	line-height: 1.5em;
	list-style-type: none;
	padding: 5px 0px 0px 0px;
}

#sidebar div li {
	margin: 0;
	color: #979797;
}

#sidebar h2 {
	text-transform: uppercase;
	font-size: small;
	font-weight: bold;
	margin: 0px;
}

#sidebar li a {
	text-decoration: none;
	color: #975700;
	padding-left: 15px;
	background: transparent url(images/listoff.gif) left center no-repeat;
}

#sidebar li a:hover {
	text-decoration: none;
	color: #530000;
	background: transparent url(images/liston.gif) left center no-repeat;
}

/* Search */

#search {
}

#search h2 {
}

#search form {
}

#search #inputtext1 {
}

#search #inputsubmit1 {
}

/* Archives */

#archives {
}

/* Categories */

#categories {
}

/* Blogroll */

#blogroll {
}

/* Meta */

#meta {
}

/* Footer */

#footer {
	background: #F0F0F0 !important; /* override */
    height: 50px;
}

#footer p {
	margin: 0;
	padding: 10px 0;
	text-align: center;
	font-size: x-small;
}

#footer a {
}

div.footermenu li, div.footermenu ul { list-style: none; display: inline; text-align: center; }

#toolbar {
        float: right;
       /* font-size: 90%;*/
        padding: 16px 0px 8px 8px;
}


.hits {
        color: green;
        font-weight: bold;
}

.hits0 {
        color: #D0D0D0;
}

.misses {
        font-weight: bold;
        color: red;
}

.misses0 {
    color: #D0D0D0;
}

#cloud {
        margin: 10px 10px 30px 10px;
}

#cloud a {
        font-weight: bold;
        padding: 2px 3px;
        text-decoration: none;
}

.subtitle {
        font-size: 140%;
        font-weight: normal;
}

fieldset {
        border: none;
        padding: 20px;
    color: #797979;
}

label {
        float: left;
        width: 120px;
        font-weight: bold;
}

input {
        margin-bottom: 5px;
        border: 2px solid #ddd;
}

textarea {
        margin-bottom: 5px;
}

.submit {
        margin-top: 5px;
        width: 90px;
        border: #f0f0f0 1px solid;
        color: #202020;
        padding: 16px;

}

.submit:focus, .submit:hover  {
    border: #c00 1px solid;
    background: #cfcfcf;
}

form br {
        clear: left;
}

.tag-list {
        font-weight: bold;
        font-size: 120%;
        margin: 15px;
}

.tag-list li {
        display: inline;
        padding: 5px;
}

.tag-list a {
        text-decoration: none;
}

#login_form {
}

#login_form label {
        float: left;
}

#login_form fieldset {
        border: none;
        padding: 20px 20px 0px 40px;
}

#login_form input{
        margin-bottom: 5px;
        width: 120px;
        font-size: 1.4em;
}

.login {
        margin-top: 5px;
        border: #f0f0f0 1px solid;
        color: #ffffff;
    background-color: #979797;
        font-size: 90%;
}

#idea_add_form {
}

#idea_add_form input {
        width: 250px;
}

#idea_add_form textarea {
        width: 450px;
}

#idea_add_form .submit {
        width: 90px;
}

#messages {
    background-color: #F7F7F7 ;
    margin: 0px auto;
    width: 20em;
    padding: 12px;
    padding-bottom: 4px;
    /*border: 1px solid #D0D0D0 ;*/
}

div.message {

    padding-bottom: 8px;
}
.message span {
    font-weight: bold;
    font-size: 1.3em;
    color: #7c0e00 ;
    border-left: 4px solid #D0D0D0;
    padding-left: 4px;
}
