# Workhours PIP requirements file



# collector requirements
# file:///srv/repos/etc/requirements-sqlalchemy.txt
pytz
beautifulsoup
pyutmp
sqlalchemy

# Webapp + SQLAlchemy
# -r /srv/repos/etc/requirements-appservers.txt
# -r /srv/repos/etc/requirements-paste.txt

waitress
pyramid

# -r /srv/repos/etc/requirements-pyramidsqlalchemy.txt

passlib

pyramid_jinja2

formencode
webhelpers
iso8601
colander
peppercorn

deform
deform_jinja2
pyramid_deform

pyramid_simpleform

celery
# -r /srv/repos/etc/requirements-celery.txt
pyramid_celery

pyramid_restler

