{% if wrap %}
{% extends "base.jinja2" %}
{% endif %}

{% block content %}
<table id="{{ table_id }}">
<thead>
<tr>{% for field in fields %}<th>{{ field }}</th>{% endfor %}</tr>
</thead>
<tbody>
{% for obj in value %}
<tr>{% for field in fields %}<td>{{ obj[field] }}</td>{% endfor %}</tr>
{% endfor %}
</tbody>
</table>


{% endblock content %}
