{% if wrap %}
{% extends "base.jinja2" %}
{% endif %}
{% block title %}{{ value[0].url }} -- {{ value[0].title }}{% endblock title %}
{% block content %}

<h3><a href="{{ value[0].url }}">{{ value[0].title }}</a></h3>
<a href="{{ value[0].url }}">{{ value[0].url }}</a>

{% for obj in value %}
<table id="{{ table_id }}">
    {# <thead>
<tr>{% for field in fields %}<th>{{ field }}</th>{% endfor %}</tr>
</thead> #}
<tbody>
{% for field in fields %}

<tr>
<td>{{ field }}</td>
<td>{{ obj[field] }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<div id="events_div">
    <h2>events</h2>
{#% with %#}
{% set value = obj.events %}
{% set table_id = 'events' %}
{% set wrap = False %}
{% set no_json = True %}
{% set fields = ['_id','date','source','url','title'] %}
{% include "events/templates/_events_table.jinja2" %}
{#% endwith %#}

{#
{% for event in obj.events %}
{% with %}
{% set value = [event] %}
{% set wrap = False %}
{% set table_id = 'events_{{event.id}}' %}
{% set no_json = True %}
{% set fields = ["_id","url","netloc","eventcount","source"] %}
{% include "models/templates/_table.jinja2" %}
{% endwith %}
{% endfor %}
#}

{#
<pre>
{{ obj.events }}
</pre>
#}

</div>
{# {{ e }} #}

{# {{  obj.__dict__|jsonify_indent }} #}

{% endfor %}
{% endblock content %}
