{% if wrap %}
{% extends "base.jinja2" %}
{% endif %}
{% block content %}
<ul id="report_types">
{% for report_type in report_types %}
<li>{{ report_type }}</li>
{% endfor %}
</ul>
{% endblock content %}
