{% extends "models/templates/_datatable.jinja2" %}
{% block datatable_columns %}[
{   "mDataProp": "id",
    "sWidth": "1px",
    "bVisible": false,
    "aTargets": [0]
},
{   "mDataProp": "date",
    "sWidth": "20px",
    "aTargets": [1],
    "fnRender": function (obj) {
        return ("<a href=\"/api/events/" + obj.aData.id + "\">" + obj.aData.date + "</a>"); /* TODO: escape */
    }
},
{   "mDataProp": "source",
    "sWidth": "20px",
    "aTargets": [2]
},
{   "mDataProp": "url",
    "aTargets": [3],
    "fnRender": function (obj) {
        return (
        "<b>" + obj.aData.title + "</b><br/>"
        + "<a href=\"" + obj.aData.url + "\">"
            + obj.aData.url + "</a>");
    }
},
{ "mDataProp": "title",
  "bVisible": false, 
  "sWidth": "0px",
  "aTargets": [4]
}
]{% endblock datatable_columns %}

