<ul>
    <li><a href="{{ request.route_url('main')  }}">Home</a></li>
    {#<li><a href="{{ request.route_url('ideas_main') }}">Ideas</a></li>
    <li><a href="{{ request.route_url('sparql_query')  }}">SPARQL</a></li>
    <li><a href="{{ request.route_url('deniz') }}">Browse</a></li>
    <li><a href="{{ request.route_url('get_graph_collection') }}"> Graphs</a></li>
    <li><a href="{{ request.route_url('get_number_collection') }}">Factors</a></li>#}
</ul>
