{% extends "base.jinja2" %}
{% block content %}
    <h1>Register</h1>
    {{ form.begin(request.route_url('register')) }}
        <fieldset>
            {{ form.csrf_token() }}
            {{ form.errorlist('username') }}
            {{ form.label('username', 'Username:') }}
            {{ form.text('username') }}
            <br />
            {{ form.errorlist('passphrase') }}
            {{ form.label('passphrase', 'Password:') }}
            {{ form.password('passphrase') }}
            <br />
            {{ form.errorlist('confirm_passphrase') }}
            {{ form.label('confirm_passphrase', 'Confirm passphrase:') }}
            {{ form.password('confirm_passphrase') }}
            <br />
            {{ form.errorlist('name') }}
            {{ form.label('name', 'Full name:') }}
            {{ form.text('name') }}
            <br />
            {{ form.errorlist('email') }}
            {{ form.label('email', 'Email:') }}
            {{ form.text('email') }}
            <br />
            {{ form.submit('form.submitted', 'Register', class_='submit') }}
        </fieldset>
    {{ form.end() }}
{% endblock content %}

</html>
