{% extends "base.jinja2" %}
{% block content %}
    <h1>{{ user.name }}</h1>
    <p>login: <b class="byline">{{ user.username }}</b>.</p>
    <h3 class="subtitle">Performance</h3>
    <p>Hits: <b class="hits">{{ user.hits }}</b>.</p>
    <p>Misses: <b class="misses">{{ user.misses }}</b>.</p>
    <h3 class="subtitle">Vote history</h3>
    <p>Hits: <b class="hits">{{ user.delivered_hits }}</b>.</p>
    <p>Misses: <b class="misses">{{ user.delivered_misses }}</b>.</p>
{% endblock %}
