{% if wrap %}
{% extends "base.jinja2" %}
{% endif %}
{% block extracss %}
    <link rel="stylesheet"
        href="{{ request.static_url("workhours:static/datatable/css/demo_table.css") }}"
        media="screen,projection"
        type="text/css"
        />
{% endblock extracss %}
{% block extrajs %}

<script type="text/javascript" language="javascript" 
    src="{{ request.static_url("workhours:static/datatable/js/jquery.js")}}"></script>
<script type="text/javascript" language="javascript" 
    src="{{ request.static_url("workhours:static/datatable/js/jquery.dataTables.min.js")}}"></script>
    <script type="text/javascript" language="javascript">


 $(document).ready(function() {
    $('#{{ table_id }}').dataTable({
             "bSort": true,
             "bPaginate": true,
             "bLengthChange": false,
             /*"sPaginationType": "full_numbers",*/
             "bFilter": true,
             "bAutoWidth": true,
             "aLengthMenu": [[20, 50, 100, 1000, 2000, -1], [20, 50, 100, 1000, 2000, "All"]],
             "bProcessing": true,
             "bServerSide": true,
             "sAjaxSource": "/api/{{ table_id }}.json",
             "sAjaxDataProp": "results",
             /* "aoColumns": , */


             "bScrollInfinite": true,
             "bScrollCollapse": true,
             /* "sScrollY": "000px", /* window.height-300px */
             "sScrollY": "400px", /* $(window).height()-300 + "px", 
             "sScrollX": $(window).width()-100,*/

             "bStateSave": true,
             "aoColumns": {%- block datatable_columns -%}
                {{ fields_json|skipautoescape }}
{%- endblock datatable_columns -%}

             /*"sDom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>',*/

             /*"bJQueryUI": true,*/
    });
}); 
</script>
{% endblock extrajs %}
{% block contentframe %}
<table id="{{ table_id }}">
<thead>
<tr>{% for field in fields %}<th>{{ field }}</th>{% endfor %}</tr>
</thead>
<tbody>
{% for obj in value %}
<tr>
    {% for field in fields %}
    <td class="{{field}}">
    {% if 'url' in field and obj[field] and obj[field].startswith('http') %}
    <a href="{{ obj[field] }}">{{ obj[field] }}</a>
    {% else %}
    <span>{{ obj[field] }}</span>
    {% endif %}
    </td>
    {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endblock contentframe %}
